<%- include('../header') %>
<h1>Add New</h1>
<form action="/posts/create" method="post">
  <label>
    <input type="text" name="title">
  </label>
  <label>
    <input type="text" name="body">
  </label>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <input type="submit" value="add!">
</form>
<p><a href="/">Go Back</a></p>
<%- include('../footer') %>
